.colorp{
    display: flex;
    gap: 10px;
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
    position: absolute;
}
color-div{
    position: relative;

}